_layouts/gatsby-theme-kb/node_modules/
_layouts/gatsby-theme-kb/.cache/
_layouts/gatsby-theme-kb/public/
_layouts/gatsby-theme-kb/package-lock.json

.foam
.vscode

node_modules

package-lock.json
package.json